<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Adicione o link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- cabeçalho e metadados -->
</head>
<body>
    <!-- Div com um Logout -->
    <div style="text-align: right;"> <a style=" margin: 10px;" href="{% url 'logout' %}" class="btn btn-primary">Logout</a> </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Lista de Atividades</h2>
                <div class="list-group">
                    {% for lista in listas %}
                        <button class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#lista{{ lista.id }}">
                            {{ lista.nome }}
                        </button>
                        <div id="lista{{ lista.id }}" class="collapse">
                            <div class="list-group">
                                {% for atividade in lista.atividade_set.all %}
                                    <button class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#atividade{{ atividade.id }}">
                                        {{ atividade.nome }}
                                    </button>
                                    <div id="atividade{{ atividade.id }}" class="collapse">
                                        <div class="list-group">
                                            {% for tarefa in atividade.tarefa_set.all %}
                                                <button class="list-group-item list-group-item-action">{{ tarefa.nome }}</button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="editor-de-texto">
                    <!-- Editor de texto aqui -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- outros conteúdos da página -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
