

body {
    background-color: rgb(21, 21, 21) !important;
    font-family: Arial, sans-serif !important;
    color: white !important;
}

/* para pegar até embaixo da tela */
.full-height-row {
    height: 1000px;
}

/* Classe para alinhar conteúdo NÃO TEXTO*/
.align-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* para a caixinha onde fica as listas*/
.bg-claro_style { 
    background-color: #222222 !important;
}

/* para os botões de criar */
.pastel-button {
    background-color: #3d3d3d !important; 
    color: #fff !important; 
}

.pastel-button2 { /* ATIVIDADE */
    background-color: #8883DE !important; 
    color: #fff !important; 
}

.pastel-button3 { /* PRA LISTA */
    background-color: #B07FC7 !important; 
    color: #fff !important; 
}

.pastel-button4 { /* TAREFA */
    background-color: #D48F7D !important; 
    color: #000000 !important; 
}