<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Aplicação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuarios/templates/style.css' %}">
    
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <!-- Adicione a classe "container" para limitar o conteúdo e as classes de alinhamento do Bootstrap -->
        <img src="{% static 'usuarios/templates/em_construcao.png' %}" class="img-fluid" alt="Imagem">
        <!-- A classe "img-fluid" faz com que a imagem seja responsiva -->
    </div>

</body>
</html>
