<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\Users\clecio\Documents\taskpad-api\usuarios\templates\style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <header class="bg-purple text-white text-center py-3">
        <div class="col md 12">
        <h1 class="text-danger">CADASTRAR</h1>
        </div>
    </header>
    <div class="text-center"><form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
        <input type="text" placeholder="Username:" name="username">
        <br>
        <br>
        <input type="email" placeholder="Email:" name="email">
        <br>
        <br>
        <input type="password" placeholder="Senha:" name="senha">
        <br>
        <br>
        <input type="submit" value="Cadastrar">
    </form>
    </div>
</body>
</html>